<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<style>
  *{margin:0;padding:0;box-sizing:border-box}
  html,body{
    background:transparent;
    width:300px;
    height:250px;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
  }
</style>
</head>
<body>
<script>
  atOptions = {
    'key' : '25098b9365382c591b576a62c049cf7a',
    'format' : 'iframe',
    'height' : 250,
    'width' : 300,
    'params' : {}
  };
</script>
<script src="https://www.highrevenueformat.com/25098b9365382c591b576a62c049cf7a/invoke.js"></script>
</body>
</html>
